.sizes {
	display: flex;
	flex-direction: column;
	gap: 8px;

	p {
		font-size: 14px;
		font-weight: 600;
		color: var(--dark);
	}

	.chooseSize {
		display: flex;
		align-items: center;
		gap: 12px;

		button {
			width: 35px;
			height: 35px;
			background: #d9d9d9;
			border: 1px solid transparent;
			border-radius: 4px;
			font-size: 14px;
			color: var(--dark);
			cursor: pointer;
			transition: opacity 0.4s;

			&:hover {
				opacity: 0.5;
			}

			&.active {
				border: 1px solid var(--dark);
			}
		}
	}
}
